Ex4.dtd

<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE AbsoluteMove [
  <!ELEMENT AbsoluteMove (ProfileToken, Position)>
  <!ELEMENT ProfileToken (#PCDATA)>
  <!ELEMENT Position (PanTilt, Zoom)>
  <!ELEMENT PanTilt EMPTY>
  <!ATTLIST PanTilt x CDATA #REQUIRED>
  <!ATTLIST PanTilt y CDATA #REQUIRED>
  <!ELEMENT Zoom EMPTY>
  <!ATTLIST Zoom x CDATA #REQUIRED>
]>
